body{
  padding: 0px;
  margin: 0px;
  background-color: #f1f1f1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

footer img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

footer h3{
	color: white;
}





#motorrat{
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #f1f1f1;


}


h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

/
#motorrat {
  display: flex;
  justify-content: center; 
  gap: 30px; 
  flex-wrap: wrap; 
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}


.produkti {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.produkti h2 {
  font-size: 1.5em;
  color: #333;
  margin-top: 15px;
}


.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


@media screen and (max-width: 768px) {
  #motorrat {
    flex-direction: column; 
    align-items: center; 
  }

  .produkti {
    width: 90%;
  }
}

/*section 2 */

#section2{
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

#section2 h1{
  color: black;
}

#image-text1{
  width: 60%;
  height: 600px;
  background-color: ;
}

#image-text1 img{
  width: 400px;
  height: 350px;
  border-radius: 15px;
  margin-left: 100px;
  margin-top: 0px;
  float: left;
}

#image-text1 p{
  width: 600px;
  float: right;
}






